<div class="mt-5 mr-3">
    <div *ngIf="errorModif==false" class="alert alert-success alert-dismissible fade show" role="alert">
        {{modif.msg}}
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert"
            aria-label="Close">X</button>
    </div>
    <div class="card w-100" style="">
        <div class="card-header">
            Liste parent
            <a href="#" (click)="afficherButtonSave()" class="btn btn-success" style="position: absolute;right: 30px;" data-bs-toggle="modal"
                data-bs-target="#exampleModal"><i class="fa fa-plus mr-2"></i>Ajouter</a>

        </div>
        <div class="card-body table-responsive w-100">
            <div class="mb-4">
                <div class="row mt-4 mb-4">
                    <div class="align-items-center col-md-4 col-sm-12 pull-left">
                        <div class="row g-3 ">
                            <div class="col-auto">
                                <label for="afficherElement" class="col-form-label">Afficher</label>
                            </div>
                            <div class="col-auto">
                                <select (change)="changerTaille($event)" class="form-select" id="afficherElement">
                                    <option *ngFor="let size of tailles" value="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <span id="passwordHelpInline" class="form-text">
                                    Elements
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pull-right mr-3 col-sm-12" style="position: absolute;right:0px">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <label for="recherche">Rechercher</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="recherche" name="recherche" class="form-control"
                                    (input)="changer()" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="row-border w-100 table table-striped text-center table-collapse table-hover">
                <thead class="" style="background:#198754;color: white;">
                    <tr>
                        <th>#</th>
                        <th>N<span class="text-lowercase">om complet</span></th>
                        <th>Sexe</th>
                        <th>E<span class="text-lowercase">mail</span></th>
                        <th>Télephone</th>
                        <th>N<span class="text-lowercase">ombre d'enfant</span></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="parents?.length !=0">
                    <tr *ngFor="let m of parents;let i=index ">
                        <td>{{ i+1 }}</td>
                        <td>{{ m.prenom }} {{m.nom}}</td>
                        <td *ngIf="m?.sexe">M</td>
                        <td *ngIf="m?.sexe == false">F</td>
                        <td class="text-lowercase">{{m.email}}</td>
                        <td>{{m.telephone}}</td>
                        <td>{{m.enfant}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="[m.id]" routerLinkActive="router-link-active"><i
                                class="fa fa-eye"></i></a>
                            <button (click)="modifier(m)" class="btn btn-primary ml-1"><i
                                class="fa fa-edit"></i></button>
                        <button class="btn btn-danger ml-1" (click)="supprimer(m.id)"><i
                                class="fa fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="parents?.length < 1" class="text-center">
                P<span class="text-lowercase">as d'élèves</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered w-100">
        <div class="modal-content">
            <div class="modal-header " style="background: #198754;color: white;">
                <h5 *ngIf="isModify == false" class="modal-title" id="exampleModalLabel">Ajouter un parent d'élève</h5>
                <h5 *ngIf="isModify" class="modal-title" id="exampleModalLabel">Modifier un parent d'élève</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <form [formGroup]="formGroup" (ngSubmit)="submit()">
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Prenom<span style="color: red ;">*</span></label>
                                    <input type="text" class="form-control readonly" name="prenom" pattern="[a-zA-Z ]*"
                                        formControlName="prenom" placeholder="Entrer le prenom" id="prenom"
                                        [ngClass]="submitErr && formGroup.invalid && formGroup.controls.prenom.errors?.required?'is-invalid':''" />

                                    <div class="text-danger"
                                        *ngIf="submitErr && formGroup.invalid && formGroup.controls.prenom.errors?.required">
                                        le champs nom est obligatoire
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Nom<span style="color: red ;">*</span></label>
                                    <input type="text" class="form-control " maxlength="" name="nom"
                                        formControlName="nom" placeholder="Entrer le nom" pattern="[a-zA-Z ]*"
                                        [ngClass]="submitErr && formGroup.invalid && formGroup.controls.nom.errors?.required?'is-invalid':''" />
                                    <div class="text-danger"
                                        *ngIf="submitErr && formGroup.invalid && formGroup.controls.nom.errors?.required">
                                        le champs nom est obligatoire
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Email <span style="color: red ;">*</span></label>
                                    <input type="email" class="form-control" maxlength="" name="email"
                                        formControlName="email" placeholder="Entrer l'email"
                                        [ngClass]="erreurEmail || ( submitErr && formGroup.invalid && formGroup.controls.email.errors?.email|| formGroup.controls.email.errors?.required)  ?'is-invalid':''" />
                                    <div class="text-danger"
                                        *ngIf="submitErr && formGroup.invalid && formGroup.controls.email.errors?.required">
                                        le champs email est obligatoire
                                    </div>
                                    <div class="text-danger" *ngIf="erreurEmail">
                                        l'email est déja utilisé
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Téléphone <span style="color: red ;">*</span></label>
                                    <input type="number" class="form-control" maxlength="9" name="telephone"
                                        formControlName="telephone" placeholder="Entrer le numero de telephone"
                                        [ngClass]="erreurTelephone || formGroup.controls.telephone.errors?.erreurTelephone || (submitErr && formGroup.invalid &&  formGroup.controls.telephone.errors?.required) ?'is-invalid':''" />

                                    <div class="text-danger" *ngIf="erreurTelephone">
                                        le numero de telephone est déja utilisé
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="submitErr && formGroup.invalid && formGroup.controls.telephone.errors?.required">
                                        le champs telephone est obligatoire
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="formGroup.invalid && formGroup.controls.telephone.errors?.erreurTelephone">
                                        le numero de telephone est invalide il doit commencer par 77,76,78,70,30,33,75
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Sexe <span style="color: red ;">*</span></label>
                                    <select class="form-control" name="sexe" formControlName="sexe">
                                        <option value="">---------selectionner-----------</option>
                                        <option value="true">Masculin</option>
                                        <option value="false">Feminin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button *ngIf="isModify == false" type="button" type="submit"
                                    class="btn btn-primary">Ajouter</button>
                                <button *ngIf="isModify" type="button" type="submit"
                                    class="btn btn-primary">Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>