<div class="mt-5 mr-3">
    <div *ngIf="erreurChange==false" class="alert alert-success alert-dismissible fade show" role="alert">
        {{change.msg}}
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>
    <div *ngIf="erreurChange" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{change.msg}}
        <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>
    <div class="card w-100" style="">
        <div class="card-header">
            Liste services
            <a href="#" (click)="afficherButtonSave()" class="btn btn-success" style="position: absolute;right: 30px;"
                data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-plus mr-2"></i>Ajouter</a>

        </div>
        <div class="card-body table-responsive w-100">
            <div class="mb-4">
                <div class="row mt-4 mb-4">
                    <div class="align-items-center col-md-4 col-sm-12 pull-left">
                        <div class="row g-3 ">
                            <div class="col-auto">
                                <label for="afficherElement" class="col-form-label">Afficher</label>
                            </div>
                            <div class="col-auto">
                                <select (change)="changerTaille($event)" class="form-select" id="afficherElement">
                                    <option *ngFor="let size of tailles" value="size">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <span id="passwordHelpInline" class="form-text">
                                    Elements
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pull-right mr-3 col-sm-12" style="position: absolute;right:0px">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <label for="recherche">Rechercher</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="recherche" name="recherche" class="form-control"
                                    placeholder="Rechercher....." [(ngModel)]="recherche"
                                    (ngModelChange)="Rechercher()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="row-border w-100 table table-striped text-center table-collapse table-hover">
                <thead class="" style="background:#198754;color: white;">
                    <tr>
                        <th>#</th>
                        <th (click)="Trier('libelle')">Libelle <i class="fa fa-sort"></i> </th>
                        <th>Description</th>
                        <th>Cout(Franc CFA)</th>
                        <th>Categorie</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="services?.length !=0">
                    <tr *ngFor="let m of services;let i=index ">
                        <td>{{ i+1 }}</td>
                        <td class="text-lowercase">{{ m.libelle }}</td>
                        <td class="text-lowercase">{{ m.description}}</td>
                        <td class="text-lowercase">{{ m.cout}}</td>
                        <td class="text-lowercase">{{ m.Categorie.libelle}}</td>
                        <td *ngIf="m?.status==1"><span class="badge badge-success">Active</span></td>
                        <td *ngIf="m?.status==0"><span class="badge badge-danger">Inactive</span></td>
                        <td>
                            <a *ngIf="m?.status==0" class="btn btn-success m-2" (click)="changerStatus(m.id,1)">
                                <i class="fa fa-check"></i>
                            </a>
                            <a *ngIf="m?.status==1" class="btn btn-danger m-2" (click)="changerStatus(m.id,0)">
                                <i class="fa fa-ban"></i>
                            </a>
                            <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                            <button (click)="modifier(m)" class="btn btn-primary ml-1"><i
                                    class="fa fa-edit"></i></button>
                            <button class="btn btn-danger ml-1" (click)="supprimer(m.id)"><i
                                    class="fa fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div *ngIf="services?.length <1" class="text-center">
                P<span class="text-lowercase">as de service disponible</span>
            </div>
            <pagination-controls (pageChange)="changerPage($event)" previousLabel="precedent" nextLabel="suivant"
                 *ngIf="services?.length > 0"></pagination-controls>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered w-100">
        <div class="modal-content">
            <div class="modal-header " style="background: #198754;color: white;">
                <h5 *ngIf="isModify == false" class="modal-title" id="exampleModalLabel">Ajouter un service</h5>
                <h5 *ngIf="isModify" class="modal-title" id="exampleModalLabel">Modifier un service</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="">
                        <div class="alert alert-danger" *ngIf="errorLib">
                            Ce service existe déja
                        </div>
                        <form [formGroup]="formGroup" (ngSubmit)="submit()">
                            <div class="row mb-3">
                                <div class="form-group col-md-6">

                                    <label>Libelle <span style="color: red ;">*</span></label>
                                    <input type="text" class="form-control readonly" formControlName="libelle"
                                        name="libelle" placeholder="Entrer le nom du service">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Cout <span style="color: red ;">*</span></label>
                                    <input type="number" class="form-control" maxlength="" formControlName="cout"
                                        name="cout" placeholder="Entrer le cout du service">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group col-md-6">
                                    <label>Categorie <span style="color: red ;">*</span></label>
                                    <input type="text" class="form-control readonly" formControlName="categorie"
                                        name="categorie" placeholder="Entrer le nom du service">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Description <span style="color: red ;">*</span></label>
                                    <textarea name="description" id="" cols="30" rows="5" class="form-control"
                                        formControlName="description"
                                        placeholder="Entrer la description du service"></textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <button *ngIf="isModify == false" type="button" type="submit" class="btn btn-primary"
                                    [disabled]="formGroup.invalid">Ajouter</button>
                                <button *ngIf="isModify" type="button" type="submit" class="btn btn-primary"
                                    [disabled]="formGroup.invalid">Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>